body {
    margin: 0;
}

ul {
    list-style: none;
}
a {
    text-decoration: none;
}
.nav {
    display: flex;
    gap: 30px;
}
.nav li ul {
    opacity: 20%;
    position: absolute;
    transition: opacity 400ms;
    transition-delay: 0.5s;
}

.nav li:hover > ul {
    opacity: 1;
    transition: opacity 400ms;
    transition-delay: 0.5s;
}

.nav li ul li {
    position: relative;
    right:-80px;
}